header{
    background-color: transparent; /* transparent*/
    display: flex;
    height: 85px;
    width: 100% ;
    position: absolute;
    top: 0%;

}

body{
    margin: 0;  
    position: relative;
    
}

.logo{
    width: 133px;
}

.menu{
    font-family: 'Lato', sans-serif;
    font-Size: 16px;

}

.menu_element{
    color: white;
    position: relative;
    align-items: center;
    text-decoration: none;
    padding: 0 35px;

}

.menu_element:hover{
    text-decoration: underline;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 10%;
}

.top{
    padding-top: 85px;
    height: 875px;
    background-image: url("../img/Header\ BG@1X.png");
    color: white;
    display: flex;
    align-items: center;

}