@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    width: 100%;
    margin: 0 auto  ;
}

body {
    margin: 0    auto;
    position: relative;   
       
}

header {
    background-color: transparent; 
    display: flex;
    height: 85px;
    width: 100% ;
    position: absolute;
    top: 0%;

}

.nav_menu {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 10%;
    border-bottom: 1.2px solid #4d4d4d;
}

.logo {
    width: 133px;
}

.menu {
    font-family: 'Lato', sans-serif;
    font-Size: 16px;
}

.menu_element:hover {
    border-bottom: 1.2px solid #f8f3f3;
    padding-bottom: 32px;
}

.menu_element {
    color: white;
    position: relative; 
    align-items: center;
    text-decoration: none;
    padding: 0 35px;
}

.top {
    padding-top: 85px;
    height: 875px;
    background-image: url("../img/Header\ BG@1X.png");
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.top_title {
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.top_description {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: italic;
    margin: 33px;
}
